__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/

.env
.env.bak
.idea/
.vscode/

build/
dist/
*.egg-info/
.eggs/

.coverage
.tox/
nosetests.xml
coverage.xml
pytestdebug.log

*.sublime-project
*.sublime-workspace
*.vim
*.swp

*.sqlite3
.DS_Store
*.log